/*
crispr-mageck-nf nextflow config
*/

params {
    contrasts = 'contrasts.txt'
    counts = 'counts_mageck.txt'
    cnv = 'cnv.txt'
    outputDir = 'results'
    min_count = 0
    min_rra_window = 0
}

profiles {

    standard {
        includeConfig 'conf/resources.config'
    }

    singularity {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
    }

    ii2 {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/ii2.config'
    }
}
