/*
Resource management
*/

process {

    // error strategy
    errorStrategy='retry'
    maxRetries=3

    // basic resources
    cpus = 1
	time = { 40.m * task.attempt }

    // process-specific resources
    $mageck {
        memory = { 10.GB * task.attempt }
    }
    $postprocess {
        memory = { 1.GB * task.attempt }
    }
}

timeline {
    enabled = true
}
