/*
Resource management
*/

process {

    // error strategy
    errorStrategy='retry'
    maxRetries=3

    // basic resources
    cpus = 1
    time = { 40.m * task.attempt }

    // process-specific resources
    withName: mageck {
        memory = { 20.GB * task.attempt }
    }
    withName: postprocess {
        memory = { 5.GB * task.attempt }
    }
}

timeline {
    enabled = true
}
